In [1]:
import networkx as nx
import igraph
import pandas as pd
import pylab as plt
import numpy as np
import Bio
import seaborn as sns

Some literature:

1. Liebeskind, B. J., McWhite, C. D., &amp; Marcotte, E. M. (2016). Towards Consensus Gene Ages. Genome Biology and Evolution, 8(6), 1812–1823. doi:10.1093/gbe/evw113
2. Domazet-Lošo, T., Brajković, J., &amp; Tautz, D. (2007). A phylostratigraphy approach to uncover the genomic history of major adaptations in metazoan lineages. Trends in Genetics, 23(11), 533–539. doi:10.1016/j.tig.2007.08.014
3. Arendsee, Z., Li, J., Singh, U., Seetharam, A., Dorman, K., & Wurtele, E. S. (2019). Phylostratr: a framework for phylostratigraphy. Bioinformatics, 35(19), 3617-3627. https://doi.org/10.1093/bioinformatics/btz171
4. Tong Y. B. et al. GenOrigin: A comprehensive protein-coding gene origination database on the evolutionary timescale of life //Journal of Genetics and Genomics. – 2021. https://doi.org/10.1016/j.jgg.2021.03.018

# Воспроизвести статью 2007
Domazet-Lošo, T., Brajković, J., & Tautz, D. (2007). A phylostratigraphy approach to uncover the genomic history of major adaptations in metazoan lineages. Trends in Genetics, 23(11), 533–539. doi:10.1016/j.tig.2007.08.014


https://en.wikipedia.org/wiki/Genomic_phylostratigraphy

https://www.biorxiv.org/content/10.1101/360164v1


## phylostratr: a framework for phylostratigraphy -- готовое решение

Пакет для R с vignettes о Saccharomyces cerevisiae. Но воспроизвести ее пока не удалось.

https://academic.oup.com/bioinformatics/article/35/19/3617/5380767?login=true

https://github.com/arendsee/phylostratr/blob/master/vignettes/yeast.Rmd

# GenOrigin

In [2]:
yeast_data = pd.read_csv('../data/yeast.txt', sep='\t')
print(yeast_data.shape)

(12873, 2)
# of edges: 12873
# of nodes: 4441

In [25]:
yeast_data.head()

        Tf        Tg
0  YAL051W   YAL016W
1  YAL051W  YAL034WA
2  YAL051W  YAL035CA
3  YAL051W   YAL035W
4  YAL051W   YAL036C

In [26]:
yeast_gen_ages = pd.read_csv('../data/GenOrigin/Saccharomyces_cerevisiae.csv')
yeast_gen_ages. rename(columns = {'ensembl_id':'Tf'}, inplace = True)

yeast_gen_ages.head()

        Tf gene_age gene_Interval
0  YDR301W       34          0-69
1  YDR302W       34          0-69
2  YDR303C      163       114-212
3  YDR304C     1488     1480-1496
4  YDR305C     1488     1480-1496

In [42]:
yeast_data['Tf_age'] = yeast_data.merge(yeast_gen_ages, how='left', on=['Tf']).gene_age


yeast_gen_ages. rename(columns = {'Tf':'Tg'}, inplace = True)
yeast_data['Tg_age'] = yeast_data.merge(yeast_gen_ages, how='left', on=['Tg']).gene_age

In [52]:
yeast_data.head()

        Tf        Tg Tf_age Tg_age
0  YAL051W   YAL016W    163    902
1  YAL051W  YAL034WA    163    NaN
2  YAL051W  YAL035CA    163    NaN
3  YAL051W   YAL035W    163  >4290
4  YAL051W   YAL036C    163  >4290

In [73]:
yeast_data['Tf'].count()

12873

In [72]:
yeast_data['Tf'].count() * 2 - yeast_data['Tg_age'].count() - yeast_data['Tf_age'].count()

794

In [69]:
yeast_data['Tg_age'].count()

12082

In [70]:
yeast_data['Tf_age'].count()

12870

In [55]:
yeast_data.groupby('Tf_age').count().Tf

Tf_age
1021     1286
105         3
1080      719
1292      708
1488      688
163      1717
1714      226
258       169
34       1027
447      1812
656      2851
770       108
80         28
902       341
92        583
95         67
>4290     537
Name: Tf, dtype: int64